<div class="main-container">


<div id="dinner" class="container">
    <div class="row">
      <div class="lg-col-11 md-col-11 sm-col-11">
        <%= image_tag("about/dinner.png") %>
      </div>
    </div>
  </div>

  <div id="title" class="container">
    <div class="row">
      <div class="col-4 text-center ">
      <a href="https://fontmeme.com/fonts/get-schwifty-font/"><img src="https://fontmeme.com/permalink/180112/8c10cea8856a8ab50639495229328fb2.png" alt="get-schwifty-font" border="0"></a>
      </div>
    </div>
  </div>


    <div class="container">
      <div class="row">
        <div class="col-9 text-center">
          <p>
            Schwiftology is a twenty-first-century religion that teaches us the truth of the
            reality of the universe around us and the absurdity of having a singular purpose.<br>
            We follow the Adventures of Rick & Morty as Parables to explain the truth of our existence.
            Praise to the words of the one True Morty <br>
            "Nobody exists on purpose, nobody belongs anywhere, everybody's gonna die; come watch TV."
          </p>
        </div>
      </div>
    </div>
</div>
