<div class="container">
  <div class="row">
    <div class="text-center mb-3">
      <h1>Editing Link</h1>

        <%= render 'form', link: @link %>

        <%= link_to 'Show', @link %> |
        <%= link_to 'Back', links_path %>
      </div>
    </div>
  </div>
